[Unit]
Description=TheCultivator WEB Server

[Service]
User=##USER##
WorkingDirectory=##PATH##
ExecStart=/bin/bash -c '/usr/bin/python3 serveur.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target